@charset "UTF-8";

.btn {
    border-radius: 0;
    width: 200px;
	border: 0;
}
#recommendbnt{
	width: 200px;
}
table {
	font-family: 'Noto Sans KR', sans-serif;
	width: 70rem;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 16rem;
	border-top: 1px solid #f6eddf;
    border-collapse: collapse;
}
th{
	width: 15%;
	font-weight: 400;
	background-color: #f6eddf;
}
th,td {
    border-bottom: 1px solid #f6eddf;
    padding: 10px;
	font-size: 13px;
	color: #463528; 
}
td{
	text-align: center;
}
input {
	padding-left: 10px;
	width: 500px;
	height: 40px;
	border-style: none;
    outline: none;
}
textarea {
	padding-left: 10px;
	width: 800px;
	max-height:200px;
	min-height:200px;
	border-style: none;
}
caption {
	font-size: 17px;
	margin-bottom: 15px;
	margin-left: 3px;
	font-weight: 500;
	caption-side: top; /* 표 제목을 표의 상단에 배치 */
}